@charset "UTF-8";

body {
    font-family: ;
}

/*
shorthand font
sequencia: font-style -> font-weight -> font-size -> font-family

font: italic bolder 3em 'Work Sans', sans-serif
;*/


h1{
    font: italic bolder 3em 'Work Sans', sans-serif;
}